@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
	background-color: #FFFEFC;
	/*	display: grid;*/
	margin: 0;
	padding: 0;
	place-items: center;
}

body::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

body::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color, #000);
}

body::-webkit-scrollbar-thumb {
	background: var(--scrollbar-color);
	border-radius: 5px;
}


/*---------------------------- Particles / Home ----------------------------*/

#particles-js {
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: #000;
	overflow: hidden;
}

canvas {
	display: block;
	vertical-align: bottom;
}

/*---------------------------- Navigation bar ----------------------------*/

nav {
	position: fixed;
	bottom: 10%;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	justify-content: center;
	align-items: center;
	display: flex;
	transition: opacity .2s ease-in-out;
	opacity: 1;
	z-index: 10;
}

.sticky {
	top: 2%;
	bottom: auto;
	left: 50%;
	opacity: 0;
	/* Fade out when .sticky class is added */
}

.sticky ul {
	background-color: #000;
	border-radius: 3rem;
	padding: 1rem 1rem;
}

nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	margin: 0 1.5rem;
}

nav ul li a {
	font-family: 'Permanent Marker', cursive;
	text-decoration: none;
	color: #fff;
	font-size: 1.75rem;
	position: relative;
}

nav ul li a:hover {
	background: linear-gradient(to right, violet, #8F00FF);
	background-position: 0 100%;
	background-size: 100% .3rem;
	background-repeat: no-repeat;
	border-radius: 5px;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/*---------------------------- Project ----------------------------*/

.project--bg {
	background: linear-gradient(to bottom, black 10%, pink 50%, white 65%);
	height: 100%;
	width: 100%;
	position: relative;
}

/*---------------------------- About ----------------------------*/

.about--bg {
	background: linear-gradient(to top, black 10%, pink 50%, white 65%);
	height: 100%;
	width: 100%;
	position: relative;
}

.contact--bg {
	background: linear-gradient(to bottom, black 10%, pink 50%, white 65%);
	height: 100%;
	width: 100%;
	position: relative;
}

.about--bg .about-container {
	height: 850px;
	width: 95%;
}

.about-text--me,
.modal-title {
	font-family: 'Permanent Marker', cursive;
}

.tab-titles {
	display: flex;
	margin: 40px 0 20px;
}

.tab-links {
	font-family: 'Permanent Marker', cursive;
	margin-right: 50px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}

.tab-links::after {
	background: linear-gradient(to right, violet, #8F00FF);
	content: '';
	width: 0;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: 0.5s;
}

.tab-links.active-link::after {
	width: 50%;
}

.tab-contents ul {
	padding: 0;
}

.tab-contents ul li {
	list-style: none;
	margin: 10px 0;
}

.tab-contents ul li span {
	color: #8F00FF;
	font-size: 15px;
}

.tab-contents--devicon ul {
	display: flex;
	list-style: none;
	padding: 0;
	flex-wrap: wrap;
}

.tab-contents {
	display: none;
}

.tab-contents.tab-contents--active {
	display: block;
}

.tab-contents.tab-contents--devicon li {
	margin-right: 50px;
}

.mobile-ul--modal ul {
	display: flex;
	list-style: none;
	padding: 0;
	flex-wrap: wrap;
}

.mobile-ul--modal ul li {
	list-style: none;
	margin: 10px 10px;
}

.mobile-ul--modal li span {
	color: #8F00FF;
	font-size: 15px;
}

.card {
	transition: transform 0.3s ease;
}

.coming-soon-card-container {
	position: relative;
}

/*-- remove `filter` for off canvas to work --*/
.coming-soon {
	filter: blur(1.5px);
	cursor: no-drop;
}

.coming-soon--text {
	color: red;
	background-color: black;
	font-style: italic;
	padding: 5px 10px;
	font-family: "Bebas Neue", sans-serif;
	font-size: 26px;
}

.coming-soon--btn {
	pointer-events: none;
}

.coming-soon:hover,
.card:hover {
	transform: translateY(-10px);
}

/*---------------------------- Name Text Effect ----------------------------*/

:root {
	--purple: rgb(123, 31, 162);
	--violet: rgb(103, 58, 183);
	--pink: rgb(244, 143, 177);
}

@keyframes background-pan {
	from {
		background-position: 0% center;
	}

	to {
		background-position: -200% center;
	}
}

@keyframes scale {

	from,
	to {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}
}

#name,
#backend {
	font-family: 'Press Start 2P', cursive;
	position: absolute;
	color: white;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

#name {
	top: 10%;
	font-size: 3rem;
}

#backend {
	top: calc(5% + 16rem);
	font-size: 1.5rem;
}

#name > .magic {
	display: inline-block;
	position: relative;
	padding: 1rem;
}

#name > .magic > .magic-star {
	--size: clamp(20px, 1.5vw, 30px);

	animation: scale 700ms ease forwards;
	display: block;
	height: var(--size);
	left: var(--star-left);
	position: absolute;
	top: var(--star-top);
	width: var(--size);
}

#name > .magic > .magic-star > svg {
	animation: rotate 1000ms linear infinite;
	display: block;
	opacity: 0.7;
}

#name > .magic > .magic-star > svg > path {
	fill: var(--violet);
}

#name > .magic > .magic-text {
	animation: background-pan 3s linear infinite;
	background: linear-gradient(to right,
			var(--purple),
			var(--violet),
			var(--pink),
			var(--purple));
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
}

#name > .magic > .magic-text.mobile {
	display: none;
}


/*---------------------------- Media Query ----------------------------*/

@media (max-width: 1340px) {
	#name {
		font-size: 2rem;
		top: 10%;
	}

	#backend {
		font-size: 1rem;
		top: calc(5% + 13rem);
		/* Adjust the margin top value as desired */
	}

	nav ul li a {
		font-size: 1.3rem;
	}
}

/*-- Hide Mobile Navbar --*/
#hamburger,
.mobile-btn-details {
	display: none;
}

@media (max-width: 991px) {

	/*-- HIDE default Navbar @Mobile sized --*/
	.non-mobile,
	nav ul li a,
	.sticky ul {
		display: none;
	}

	/*-- Display Mobile Navbar --*/
	#hamburger {
		display: flex;
	}

	/*-- Display porject "details btn" --*/
	.mobile-btn-details {
		display: block;
	}

	/*-- Change flex-direction to column --*/
	.project--flex-horizontal {
		flex-direction: column;
	}

	#project--bg > .row > .mobile-pad-1rem {
		padding-bottom: 1rem;
	}

	.card:hover {
		transform: none;
	}

	.coming-soon--text {
		color: black;
		background-color: red;
	}

	#about-col {
		margin: 0.7rem !important;
	}
}

@media (max-width: 900px) {
	#name {
		font-size: 1.8rem;
		top: 10%;
	}

	#backend {
		font-size: 1rem;
		top: calc(5% + 13rem);
		/* Adjust the margin top value as desired */
	}

	.about--bg .about-container {
		height: 625px;
		width: 95%;
	}
}

.card {
	width: 28rem;
}

@media (max-width: 825px) {

	#name > .magic > .magic-text {
		display: none;
	}

	#name > .magic > .magic-text.mobile {
		white-space: pre;
		display: inline;
	}

	#name {
		font-size: 1.25rem;
		top: 10%;
	}

	#backend {
		font-size: 0.55rem;
		top: calc(5% + 20rem);
		/* Adjust the margin top value as desired */
	}

	.card {
		width: 21.5rem;
	}

	.coming-soon--text {
		color: black;
		background-color: red;
		font-size: 22px;
	}

	.mobile-ul {
		display: none !important;
	}

	/* MAKING MOBILE RESPONSIVE	*/
	#web-development-toggle {
		cursor: pointer;
	}

	.tab-links {
		margin-right: 30px;
	}
}

@media (max-width: 575px) {
	#project--bg > .row > .mobile-pad-1rem {
		padding-bottom: 1rem;
	}
}

@media (max-width: 375px) {
	#name {
		font-size: 1rem;
		top: 10%;
	}

	#backend {
		font-size: 0.5rem;
		top: calc(5% + 17rem);
		/* Adjust the margin top value as desired */
	}
}


/*---------------------------- Mobile Hamburge Navbar ----------------------------*/

.nav__btn {
	background: radial-gradient(circle, rgb(244, 143, 177), rgb(143, 0, 255));
	border-radius: 50%;
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 60px;
	width: 60px;
	justify-content: center;
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 2;
	touch-action: manipulation;
}

.nav__btn svg {
	display: block;
	flex: 1;
	height: 24px;
	width: auto;
}

.nav__btn--overlay {
	background-color: transparent;
	backdrop-filter: blur(4px);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
}

.nav__drawer__wrapper {
	align-items: center;
	background: radial-gradient(circle, rgb(143, 0, 255, .25), rgb(244, 143, 177, .25));
	backdrop-filter: blur(25px);
	border-radius: 50%;
	height: 60rem;
	width: 60rem;
	justify-content: center;
	position: fixed;
	top: 0;
	right: -500px;
	transform: translate(50%, -50%);
	text-align: center;
	transition: right 0.2s ease-in-out;
	z-index: 3;
}

.nav__drawer__active {
	display: flex;
	right: 0;
}

.nav__close__btn {
	background: radial-gradient(circle, rgb(244, 143, 177), rgb(143, 0, 255));
	border-radius: 100%;
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 60px;
	width: 60px;
	justify-content: center;
	position: absolute;
	right: 52%;
	top: 52%;
	touch-action: manipulation;
}

.nav__close__btn svg {
	fill: #000;
	flex: 1;
	height: 22px;
}

.nav__drawer__content ul {
	font-size: 2rem;
	margin-top: 24rem;
	margin-right: 24rem;
	list-style: none;
}

.nav__drawer__content ul li {
	margin: 0 1.5rem;
}

.nav__drawer__content ul li a {
	font-family: 'Permanent Marker', cursive;
	text-decoration: none;
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
